
body{ background-color: white; margin: 0;}
header{padding: 7px; box-shadow: 2px 2px 5px; background-color: #0c243c; text-align:center;}
#para{color:  red;}
.box{border: 2px solid; margin-bottom:5px; height: auto; width: 50%; padding: 15px;}
#no1{text-align: center;}
#titleThing{color : fdc500;}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2{
    font-family: 'Times New Roman', Times, serif ;
}


main{margin: 25px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkgray;
}

.navbar a{
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
}

.navbar li{
    float: left;
}

.navbar a:hover{
    background-color: lightgrey;
}
a:link{
    color:aquamarine;
}
a:hover{
    color:blue;
}
a:active{
    font-size: 1.1em;
    color: red;
}
a:visited{
    color: grey;
}