
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');body{ background-color: #ffffff; margin: 0;}
header{padding: 7px; box-shadow: 2px 2px 5px; background-color: #ffffff; text-align:center;}
#para{color:  rgb(255, 255, 255);}
.box{border: 2px solid; margin-bottom:5px; height: auto; width: 50%; padding: 15px;}
#no1{text-align: center;}
footer{align-self: center; align-items: center; text-align: center;}

*{
    font-family: 'Work Sans', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    animation-name: slideLeft;
    animation-duration: .5s;
}

h1, h2{
    font-family: 'Work Sans', 'Times New Roman', Times, serif ;
}

h3{
    color : #000000;
    /*#D8315B*/
    text-align: left;
}

p{
    text-align: left;
    font-family: 'Work Sans';
}


.logo{
    width: 80px;
    height: 80px;
    float:left;
    margin: 0 auto;
    display: block;
}

main{margin: 25px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkgray;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar a{
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
}


.navbar li{
    margin: 0;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30vh;
    width: 100%;
    gap: 0px;
   
}
.windows{
    width: 250px;
    height: 250px;
    background-color: rgb(201, 193, 193);
    margin: 10px;
    box-shadow: 0px 10px 10px 0px #ffffff;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 250px; 
    width: 250px;
    margin-bottom: 10%;
}

.center_elements{
text-align: center;
margin-left:12%; margin-right:12%;
align-items: center;
}

.pageHeader{
    text-align: left;
}

.footer{
    text-align: center;
}

.float_left{
    float: left;
    margin-left:12%; margin-right:12%;
}

.float_right{
    float: right;
    margin-left:12%; margin-right:12%;
}

.navbar a:hover{
    background-color: rgb(211, 211, 211);
}
a:link{
    color:aquamarine;
}
a:hover{
    color:blue;
}
a:active{
    font-size: 1.1em;
    color: red;
}
a:visited{
    color: grey;
}

.windows:hover{
    transform: scale(1.05);
    transition: 50% 0.5s;
}

